.restaurant-info {
    background-color: lightgray;
    height: 250px;
    display: flex;
    flex-direction: row;
}

#rest-img {
    height: 200px;
    width: 250px;
    margin: 25px;
}

.rest-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item {
    width: 60%;
    height: 100%;
    margin: 2%;
    
}

.item-right {
    float: right;
}

.item-left {
    float:left;
}

.cart {
    width: 40%;
    height: 100%;
    margin: 2%;
    
}

.menu-cart-section {
    display: flex;
    flex-direction: row;

}

.item-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.total-amount {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-icon:hover {
    cursor: pointer;
    background-color: yellow;
}

.add-icon-cart:hover {
    cursor: pointer;
    background-color: yellow;
}


@media only screen and (max-width: 600px) {
    .restaurant-info {
        display: flex;
        justify-content: space-around;
    }
}