.summary-main {
    width: 25%;
		margin-top: 40px;
		margin-bottom: 200px !important;
}

.card-content-checkout {
    display: flex;
    flex-direction: column;
}

.cart-item {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-2 {
    width: 50%;
}

.resturant-name {
    font-size: 18px;
}

@media screen and (max-width: 992px) {
	.summary-main {
		width: 90% !important;
		margin: 0 auto;
	}
}